.git
.gitignore
.github
.venv
venv
env
ENV

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

build/
dist/
site/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/

.vscode/
.idea/
*.iml

copyast-output.txt
*.bundle.txt
bundle.txt

tests/